@import 'variables';

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 1px solid $indigo;
  cursor: pointer;
  background: $indigo-light;
  color: $white;
  padding: $gutter-small;
  border-radius: $border-radius;
  box-shadow: 2px 4px 4px 0 $grey;
  transition: all 0.2s;
  margin: $gutter;

  &:hover {
    box-shadow: none;
    background: $indigo;
  }

  &--block {
    display: flex;
    width: 100%;
    margin: 0;
  }
}
