// Colors
$black: #222222;
$white: #FFFFFF;
$blue: #61DAFB;
$grey: #CCCCCC;

$indigo: #3F51B5;
$indigo-light: #5C6BC0;

// Gutters
$gutter-tiny: 5px;
$gutter-small: 10px;
$gutter: 15px;
$gutter-large: 20px;
$gutter-huge: 25px;

$border-radius: 4px;
